*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list-unstyled {
  padding: 0;
  list-style: none;
}

.center {
  text-align: center;
}

.flex-col {
  flex-direction: column;
}

.pointer {
  cursor: pointer;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

img {
  -o-object-fit: cover;
  object-fit: cover;
}

/* for the parent of the cards */
.pd-2-r {
  padding-right: 2rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.nav .item {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;
}
.nav .item .item__link:-webkit-any-link {
  text-decoration: none;
  color: #a4a4a4;
  font-size: 1.6rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: uppercase;
}
.nav .item .item__link:-webkit-any-link:hover {
  color: #e8e8e8;
}
.nav .item .item__link:-moz-any-link {
  text-decoration: none;
  color: #a4a4a4;
  font-size: 1.6rem;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: uppercase;
}
.nav .item .item__link:-moz-any-link:hover {
  color: #e8e8e8;
}
.nav .item .item__link:-webkit-any-link {
  text-decoration: none;
  color: #a4a4a4;
  font-size: 1.6rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: uppercase;
}
.nav .item .item__link:-moz-any-link {
  text-decoration: none;
  color: #a4a4a4;
  font-size: 1.6rem;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: uppercase;
}
.nav .item .item__link:any-link {
  text-decoration: none;
  color: #a4a4a4;
  font-size: 1.6rem;
  transition: all 0.3s;
  text-transform: uppercase;
}
.nav .item .item__link:-webkit-any-link:hover {
  color: #e8e8e8;
}
.nav .item .item__link:-moz-any-link:hover {
  color: #e8e8e8;
}
.nav .item .item__link:any-link:hover {
  color: #e8e8e8;
}

.nav .item .item__link-active {
  color: #e8e8e8 !important;
}

.title {
  color: #e8e8e8;
  text-transform: uppercase;
  line-height: 1.5;
}

.title span {
  font-weight: 300;
  font-size: 2.4rem;
}

.title h1 {
  font-weight: 700;
  font-size: 6.4rem;
}

.title-heading-2 {
  color: #e8e8e8;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 9.6rem;
}

.card {
  background: rgba(16, 16, 16, 0.91);
  box-shadow: 6px 0px 72px 11px rgba(196, 196, 196, 0.06);
  margin-bottom: 4rem;
  color: #e8e8e8;
  padding: 2.4rem 3.2rem;
  max-width: 95rem;
  margin-inline: auto;
}

.card .card__title {
  margin-bottom: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.card .card__title .card__heading {
  font-size: 2rem;
}

.card .card__title .card__date {
  font-size: 1.2rem;
}

.card .card__description {
  font-size: 1.6rem;
  line-height: 20px;
}

.last-post {
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

.last-post .card__description {
  -webkit-filter: brightness(0.6);
  filter: brightness(0.6);
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button .button__arrows {
  display: flex;
  align-items: center;
  gap: 12rem;
  margin-bottom: 2rem;
}

.button .button__link a:-webkit-any-link {
  color: #e8e8e8;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-right: 0.6rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button .button__link a:-moz-any-link {
  color: #e8e8e8;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-right: 0.6rem;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.button .button__link a:any-link {
  color: #e8e8e8;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-right: 0.6rem;
  transition: all 0.3s;
}

.button__next {
  transition: all 0.3s;
}

.button .button__link:hover .button__next {
  margin-left: 1rem;
}

html {
  font-size: 62.5%;
}
html body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  position: relative;
  background: linear-gradient(112.93deg, rgba(0, 0, 0, 0.7) 0%, #060606 98.66%),
    rgba(255, 255, 255, 0.3);
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  z-index: -1;
  right: 1px;
  height: 100%;
  overflow: hidden;
}

.container {
  max-width: 116rem;
  margin-inline: auto;
}

.header {
  padding: 8rem 0;
  position: relative;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__person {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  position: relative;
}
.header__person-arrows {
  display: flex;
  flex-direction: column;
  gap: 14.3rem;
}
.header__person .profile {
  width: 26.1rem;
  height: 26.1rem;
  border-radius: 50%;
}
.header .shape-1 svg {
  position: absolute;
  width: 320px;
  height: 266.81px;
  right: -5rem;
  top: -12.4rem;
  z-index: -2;
}
.header .blog-shape svg {
  right: 1rem;
  top: -6.4rem;
}
.header .header__search {
  position: relative;
}
.header .search-icon {
  position: absolute;
  top: 2.45rem;
  left: 19rem;
}
.header__search-input {
  width: 760px;
  height: 68px;
  font-size: 2rem;
  background: rgba(164, 164, 164, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.1);
  color: #e8e8e8;
  text-align: center;
}
.header__search-input::-webkit-input-placeholder {
  color: #e8e8e8;
  text-transform: uppercase;
}
.header__search-input::-moz-placeholder {
  color: #e8e8e8;
  text-transform: uppercase;
}
.header__search-input:-ms-input-placeholder {
  color: #e8e8e8;
  text-transform: uppercase;
}
.header__search-input::-ms-input-placeholder {
  color: #e8e8e8;
  text-transform: uppercase;
}
.header__search-input::placeholder {
  color: #e8e8e8;
  text-transform: uppercase;
}
.header input[type='search']::-webkit-search-decoration,
.header input[type='search']::-webkit-search-cancel-button,
.header input[type='search']::-webkit-search-results-button,
.header input[type='search']::-webkit-search-results-decoration {
  display: none;
}

.projects,
.posts {
  padding-top: 3rem;
  padding-bottom: 1rem;
  position: relative;
}
.projects .shape svg,
.posts .shape svg {
  position: absolute;
  width: 325px !important;
  z-index: -2;
}
.projects .shape-2 svg,
.posts .shape-2 svg {
  left: 2.4rem;
  top: -4rem;
}
.projects .shape-3 svg,
.posts .shape-3 svg {
  right: 2.4rem;
  top: 24rem;
}
.projects .shape-4 svg,
.posts .shape-4 svg {
  left: 1.4rem;
  bottom: -9rem;
}

.show-more svg {
  -webkit-animation: show 1s infinite;
  animation: show 1s infinite;
}

@-webkit-keyframes show {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
footer {
  padding: 4rem 0;
}

.background {
  background: url('../images/Rectangle.png');
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.5;
  z-index: -3;
}
